# PostgreSQL
POSTGRES_USER=finops_user
POSTGRES_PASSWORD=finops_pass
POSTGRES_DB=finops

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=datalake

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlnT1Nc0cPHnCR5gJOlGDg=
AIRFLOW__WEBSERVER__SECRET_KEY=finops-secret-key-2025
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin123

# Spark
SPARK_MASTER_URL=spark://spark-master:7077

# Metabase
MB_DB_TYPE=h2
